@font-face {
    font-family: 'Kaushan-Script';
    src: url('../assets/font/Kaushan-Script/KaushanScript-Regular.otf');
}

.slider h3, h5{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.slider h3, .brand-logo {
    font-family: 'Kaushan-Script';
}

section, footer {
    padding: 20px 0;
}

.about h5 {
    padding-top: 20px;
}

.facebook {
    width: 100px;
    height: 75px;
    background-image: url(../assets/img/contact/Facebook.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: relative;
}

.instagram {
    width: 75px;
    height: 75px;
    background-image: url(../assets/img/contact/Instagram.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: relative;
}

.whatsapp {
    width: 100px;
    height: 80px;
    background-image: url(../assets/img/contact/Whatsapp.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: relative;
}

.form {
    padding-top: 50px;
}